.text-field {
  width: 100%;
}

.contact-btn {
  margin-bottom: 20px;
  margin-top: 20px;
}

.error-message {
  border-left: 5px solid #A80202;
}

.message {
  background: #EBEBEB80;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
}

.success-message {
  border-left: 5px solid #558B2F;
}

.none {
  display: none!important;
}
