.header {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: #bdc8cc;
}

.header-wrapper {
  position: relative;
}

.scroll-down-btn {
  text-align: center;
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.header h6 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header h3 {
  text-transform: uppercase;
  letter-spacing: 9px;
}

.svg-icon {
  color: #16151B!important;
  fill: #16151B!important;
}
