/*
  Color palette: http://www.colourlovers.com/palette/809495/sure
 */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #212121 !important;
  overflow-x: hidden;
}

h3 {
  font-weight: 300;
}

h6 {
  font-weight: 500;
}

p, span {
  font-weight: 300;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.section {
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  background: #E8E8E8;
}

.section-container {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 160px;
  padding-bottom: 160px;
}

.section.dark {
  background: #16151C;
}

.section-container.header-component {
  padding: 0;
}

.section-container.footer-component {
  padding: 0;
}

.section.colored {
  background: #E4A570;
  /* background: #DFF2D8; */
}

p.headline {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 10pt;
  opacity: 0.8;
}

.header-section {
  background: #16151C;
}

p.text-justify {
  text-align: justify;
}

p.text-center {
  text-align: center;
}
